<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="background_styles.css">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" defer> </script>
    <title>League Of Legends Statistics</title>
</head>
<body>

    <nav class = "navbar">
        <div class = "brand-title">
            League of Legends Statistics
        </div>
        <div class = "navbar-links">
            <ul>
                <li> <a href="#">Home</a></li>
            </ul>
        </div>
    </nav>

    <div class="searchbar">
        <input class="champion-name" type="text" placeholder="Enter Champion Name....">
        <div class = 'role-dropdown-container'>
            <select>
                <option value="TOP" data-icon="">Top</option>
                <option value="JUNGLE" data-icon="">Jungle</option>
                <option value="MIDDLE" data-icon="">Middle</option>
                <option value="BOTTOM" data-icon="">Bottom</option>
                <option value="UTILITY" data-icon="">Support</option>
            </select>
        </div>
    </div>
    
</body>
</html>